{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="treasure panel panel-default">
    <h1>Login</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Log in" />
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-block btn-social btn-github" href="{% url 'social:begin' 'github' %}">
                    <span class="fa fa-github"></span>Login with GitHub</a>
                <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}">
                    <span class="fa fa-twitter"></span>Login with Twitter</a>
                <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                    <span class="fa fa-facebook"></span>Login with FaceBook</a>
                <br/>
            </div>
        </div>
    </form>
</div>

{% endblock %}
